<template>
  <div>
    <h1>Events Listing</h1>
    <EventCard v-for="event in events" :key="event.id" :event="event" />
    <template v-if="page != 1">
      <router-link
        :to="{ name: 'event-list', query: { page: page - 1 } }"
        rel="prev"
      >
        Previous Page
      </router-link>
      |
    </template>
    <template v-if="displayNextPage">
      <router-link
        :to="{ name: 'event-list', query: { page: page + 1 } }"
        rel="next"
      >
        Next Page
      </router-link>
    </template>
  </div>
</template>

<script>
import EventCard from "../components/EventCard.vue"
import EventService from "../services/EventService.js"
import { mapState } from "vuex"
export default {
  components: {
    EventCard
  },
  methods: {
    addEvent() {
      EventService.addEvent()
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          console.log("Error!" + error.message)
        })
    }
  },
  created() {
    this.$store.dispatch("fetchEvents", {
      page: this.page
    })
  },
  computed: {
    page() {
      return parseInt(this.$route.query.page) || 1
    },
    displayNextPage() {
      return this.eventsTotal > this.page * 3
    },
    ...mapState(["events", "eventsTotal"])
  }
}
</script>
